body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #a5e7ff;
}

#wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 50vh;
  width: 25vw;
  box-shadow: 5px 5px 5px gray;
  /* border: 2px solid black; */
}

#display {
  display: flex;
  flex-direction: column;
  height: 8vh;
  background: black;
  color: white;
  /* border: 2px solid black; */
}

#display-sm {
  text-align: right;
  height: 3.5vh;
  font-size: 1.5vw;
  border: 2px solid black;
}
#display-lg {
  text-align: right;
  height: 4.5vh;
  align-items: center;
  font-size: 2vw;
  border: 2px solid black;
}

#btnsContainer {
  height: 42vh;
  display: grid;
  grid-template-areas:
    "clear clear divide multiply"
    "seven eight nine subtract"
    "four five six add"
    "one two three equals"
    "zero zero decimal equals";
  background: pink;
  /* border: 2px solid black; */
}

.container-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  border: solid 2px black;
}

.btn {
  font-size: 1.25vw;
  outline: none;
  background: none;
  cursor: pointer;
}

.btn:hover {
  border: solid 1px gray;
  color: white;
  transition: 0.2s;
}

.btn:active {
  border: inset 1px pink;
  color: black;
  transition: 0.2s;
}

#clear {
  grid-area: clear;
}

#divide {
  grid-area: divide;
}
#mulitply {
  grid-area: multiply;
}

#seven {
  grid-area: seven;
}
#eight {
  grid-area: eight;
}
#nine {
  grid-area: nine;
}
#subtract {
  grid-area: subtract;
}
#four {
  grid-area: four;
}
#five {
  grid-area: five;
}
#six {
  grid-area: six;
}
#add {
  grid-area: add;
}
#one {
  grid-area: one;
}
#two {
  grid-area: two;
}
#three {
  grid-area: three;
}
#equals {
  grid-area: equals;
}
#zero {
  grid-area: zero;
}
#decimal {
  grid-area: decimal;
}
